.titleContainer {
  display: flex;
  /* width: 25%; */
  justify-content: space-around;
  margin: 20px;

  /* h1 {
    /* display: inline; */
  /* margin-left: 18px; */
  /* }  */
}

/* .dashboardImg {
  /* width: 10px; */
/* border-radius: 50%;
}  */
