.headerContainer {
  display: flex;
  justify-content: space-between;
}
.searchBox input {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  height: 32px;
  padding-left: 24px;
}
.searchBox i {
  position: absolute;
  margin: 4px;
}
